<%= form_for(@user) do |f| %>
  Username: <%= f.text_field :user_name%> <br>
  Email: <%= f.text_field :email %> <br>
  Password: <%= f.password_field :password %> <br>
  <%= f.submit "Sign Up!"%>
<% end %>
<% if @errors %>
  <% @errors.each do |error|%>
    <p class="error"><%=error%></p>
    <%end%>
<% end %>
