<!DOCTYPE html>
<html>
  <head>
    <title>Sarah's List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="headers">
    <% if user_logged_in %>
      <li class="header">
        <%=link_to("Logout", logout_path, :method => :delete)%>
      </li>
    <% else %>
      <li class="header">
        <%=link_to("Login", '/login')%>
      </li>
      <li class="header">
        <%=link_to("Sign Up", '/users/new')%>
      </li>
    <% end %>
    <li class="header">
      <%=link_to("Home", categories_path)%>
    </li>
  </nav>
  <h1 class="sarahs-list">Sarah's List</h1>
  <body>
    <%= yield %>
  </body>
</html>
